* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

h3,
input,
button,
p {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

/* ICONS */

#icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 1em;
    padding-right: 1.1em;
    z-index: 1;
}

#info__icon {
    padding-bottom: 0.50em;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2.5rem;
}

#leaf__icon {
    padding-bottom: 0.50em;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2.5rem;
}

#music__icon {
    padding-bottom: 0.50em;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2.5rem;
}

#sound__icon {
    padding-bottom: 0.50em;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2.5rem;
}

#info__icon:hover,
#leaf__icon:hover,
#music__icon:hover,
#sound__icon:hover {
    color: #7a322d;
}

/* INPUT WHISPER POPUP */
.popup {
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3 ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.popup.open {
    opacity: 1;
    z-index: 10;
}

#popup__inner {
    background-color: #7a322d;
    border-style: solid;
    border-radius: 8px;
    border-color: #ffba08;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    padding: 15px 25px;
    text-align: center;
    width: 380px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#popup__input {
    padding: 0.5rem;
    color: black;
}

#popup__submit {
    background-color: #ffba08;
    padding: 0.5rem;
}

/* DISPLAY WHISPER POPUP */

.whisper__text {
    z-index: 100;
    /* position: absolute; */
    /* color: white; */
}

.whisperPopup {
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3 ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.whisperPopup.open {
    opacity: 1;
    z-index: 10;
}

#whisper__popup__inner {
    background-color: #7a322d;
    border-style: solid;
    border-radius: 8px;
    border-color: #ffba08;
    border-width: 0.5rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    padding: 15px 25px;
    text-align: center;
    width: auto;
}

/* DISPLAY INFO POPUP */

.infoPopup {
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3 ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.infoPopup.open {
    opacity: 1;
    z-index: 10;
}

#info__popup__inner {
    background-color: #7a322d;
    border-style: solid;
    border-radius: 8px;
    border-color: #ffba08;
    border-width: 0.5rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    padding: 15px 25px;
    text-align: center;
    width: 40%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}